@model RoaSystems.Web.Portal.Models.AplicacionesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>
        <th>
            URL
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AdobeOpeningTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdobeClosingTag)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model.Aplicaciones) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AdobeOpeningTag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdobeClosingTag)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
